ul
  li
    a(href="/build/index.html") Home
  li
    a(href="/build/pages/esportes.html") Esportes
  li
    a(href="/build/pages/cidade.html") Cidade
  li
    a(href="/build/pages/eventos-e-lazer.html") Eventos e Lazer